.profile {
    max-width: 800px;
    margin: 0; 
    padding: 2rem 0 0 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

p {
    margin: 0;
    padding: 0;
}

.avatar {
    border-radius: 50%;
    width: 30%;
}

.name {
    font-size: larger;
    font-style: italic;
    font-weight: bold;
}

.tag {
    font-style: italic;
    color: gray;
}

.location {
    color: gray;
    font-weight: bold;
}

.label {
    padding: 0 10px;
}

.quantity {
    padding: 0 10px;
}

/* Style the counter cards */
.stats li {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: lightgray;
    width: 33%;
    min-width: 100px;
    display: inline-grid;
    color: white;
    align-items: center;
    grid-auto-flow: row;
}

ul {
    list-style-type: none;
    margin-left: -40px;
}

.stats {
    width: 100%;
}